* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, sans-serif;
    
}
body{
    background-color: #312d2d;
}
#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #ffcb00;
}
.nomes {
    color: white;
    font-size: 20px;
    background-color: rgb(37, 37, 39);
    text-align: center;
    width: 25%;
    height: 40%;
    border-radius: 15px;
    margin-top: 60px;
    border: 3px solid #ffcb00;
}

