body {
  background:url("https://i.pinimg.com/originals/50/ce/fc/50cefc2122adfae92d31df3c13b83244.jpg");
}
h1{
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}
input {
  width: 95%;
  margin-top: 4px;
  padding: 15px;    
  border: 2px solid #493f3f;
  border-radius: 15px;
  vertical-align: center;
}
.botao {
  width: 104%;
  margin-top: 4px;
  padding: 15px;    
  border: 2px solid #493f3f;
  border-radius: 15px;
  vertical-align: center;
  cursor: pointer;
}
.form {
  width: 400px;
  background-color: rgb(30, 26, 26);
  margin-top: 200px;
  align-items: center;
  vertical-align: center;
  padding: 18px 6% 60px 6%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow: 9px 11px 9px;
  border-radius: 25px;
}
p {
  color: white;
  text-align: center;
}

.botaooo{
  border: 2px solid #493f3f;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  width: 35%;
  padding: 0.5em 1em;
  padding: 15px;   
  width: 104%;
}

.divv{
  text-align: center;
}

.formlist {
  width: 400px;
  background-color: rgb(30, 26, 26);
  margin-top: 100px;
  text-align: center;
  padding: 18px 6% 60px 6%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow: 9px 11px 9px;
  border-radius: 25px;
}

.usuarios{
  width: 415px;
  height: 82px;
  background-color: rgba(92, 14, 160, 0.686);
}