* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, sans-serif;
    
}
body{
    background-color: #312d2d;
}
#menu-h{
    background-color: rgb(27, 27, 28);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
h3 {
    color: white;
    margin-bottom: 15px;
}
#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #ffcb00;
}

hr {
    border: 1px solid #ffcb00;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 100px;
    
}

p {
    text-align: left;
    margin-bottom: 3px;
    color: white;
    
}
.botao  {
    width: 100%;
  border: none;
  float: left;
  padding: 0.5em 0;
  background-color: #ffcb00;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-family: 'open_sansregular';
  font-size: 1.5em;
  border-radius: 3px;
  }
  
  .rotacao {  
    display: inline-block;  
    -webkit-transition-duration: 0.3s;  
    transition-duration: 0.3s;  
    -webkit-transition-property: transform;  
    transition-property: transform;  
    -webkit-transform: translateZ(0);  
    transform: translateZ(0);  
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    
  }
  .rotacao:hover, .rotacao:focus, .rotacao:active {  
    -webkit-transform: scale(1.2) rotate(-3deg);  
    transform: scale(1.1) rotate(-3deg); 
    background:#535c6a; 
    transition:0.3s;
    box-shadow: 0px 6px 3px -1px rgba(0, 0, 0, 0.5);  
  } 


  .box-formulario {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #312d2d;
    padding:60px 0;
}
.alter {
    width: 550px;
    background: rgb(27, 27, 28);
    padding: 50px 5%;
    text-align: center;
}

.inpu {
    display: inline-block;
    width: 100%;
    padding: 10px 0 13px 10px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #4C4C4C;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
    margin-bottom: 15px;
  }